/* $Id: example.css,v 1.5 2006/03/27 02:44:36 pat Exp $ */

/*--------------------------------------------------
  REQUIRED to hide the non-active tab content.
  But do not hide them in the print stylesheet!
  --------------------------------------------------*/
.tabberlive .tabbertabhide {
 display:none;

}

/*--------------------------------------------------
  .tabber = before the tabber interface is set up
  .tabberlive = after the tabber interface is set up
  --------------------------------------------------*/
.tabber {
background:#333;

}
.tabberlive {
 margin-top:0px;
 margin-left:0px;
 margin-right:0px;
}

/*--------------------------------------------------
  ul.tabbernav = the tab navigation list
  li.tabberactive = the active tab
  --------------------------------------------------*/
ul.tabbernav
{
 margin:0;
 padding:8px 0 0 0;
 font: 13px century gothic,Verdana, sans-serif;
 background:#2e3335;

height:25px;
}

ul.tabbernav li
{
 list-style: none;
 margin:5px 0;
 display: inline;
 color:#5AB7D8;
}

ul.tabbernav li a
{
	padding: 4px 0.5em;
	margin-left: 5px;

	background:#02689a url(images/taba.jpg) repeat-x;
	text-decoration: none;
}

ul.tabbernav li a:link { color:#F3F3F3; }
ul.tabbernav li a:visited { color:#F3F3F3; }

ul.tabbernav li a:hover
{
 color: #fff;
 background:#3B4044 url(images/tabh.jpg) repeat-x;

}

ul.tabbernav li.tabberactive a
{
color: #fff;
 background-color: #125F7D;
 background:#3B4044 url(images/tabh.jpg) repeat-x;

}

ul.tabbernav li.tabberactive a:hover
{
 color: #fff;
 background:#3B4044 url(images/tabh.jpg) repeat-x;
 
 
}

/*--------------------------------------------------
  .tabbertab = the tab content
  Add style only after the tabber interface is set up (.tabberlive)
  --------------------------------------------------*/
.tabberlive .tabbertab {
	padding:3px 0 0 0;
	background:#2e3335;

	font: 13px century gothic,Verdana, sans-serif;
	color:#aa9f9b;

 /* If you don't want the tab size changing whenever a tab is changed
    you can set a fixed height */

 /* height:200px; */

 /* If you set a fix height set overflow to auto and you will get a
    scrollbar when necessary */

 /* overflow:auto; */
}


.tabberlive .tabbertab p{
	margin:0px 4px 5px 4px;

}
.tabberlive .tabbertab a{
	color:#fff;

}

.tabberlive .tabbertab a:hover{
	color:#6AC9E9;

}
.tabberlive .tabbertab li {
	list-style:none !important;
	list-style:outside;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;	
	}

.tabberlive .tabbertab ul {
	list-style:none;
	margin:0px 5px 15px 5px;
	padding:0px 0px 0px 0px;	
	}

.tabberlive .tabbertab ul li {
	list-style:none;
	color:#aa9f9b;
	display:block;
	margin:2px 0px 2px 0px;
	width:auto;
	}

.tabberlive .tabbertab ul li a {
	color:#777;
	display:block;
	background:#363c3f;
	border:1px solid #363c3f;
	padding:5px 0px 5px 5px;
	}

.tabberlive .tabbertab ul li a:hover {
	color:#fff;
	display:block;
	background:#2a2e31;
	border:1px solid #363c3f;
	
}
/* If desired, hide the heading since a heading is provided by the tab */
.tabberlive .tabbertab h2 {
 display:none;
}
.tabberlive .tabbertab h3 {
 display:none;
}

/* Example of using an ID to set different styles for the tabs on the page */
.tabberlive#tab1 {
}
.tabberlive#tab2 {
}
.tabberlive#tab2 .tabbertab {
 height:200px;
 overflow:auto;
}
